.weather-card {
  border-radius: 5px;
  height: 250px;
  width: fit-content;
  border: 2px solid rgb(20, 20, 20);
  box-shadow: 3px 3px 10px rgb(20, 20, 20);
  
  backdrop-filter: blur(2px);
  background-position: center;
  background-size: cover;
  flex-shrink: 0;
  width: 320px;
  height: 250px;
  padding-left: 10px;
  padding-right: 10px;
}
.selected {


background: conic-gradient(
  from 0deg,
  #fff4c2,
  #ffe1a8,
  #ffd3b6,
  #ffcab0,
  #ffe6cc
);

}
.weather-card:hover {
  cursor: pointer;
}
.close-btn {
  width: 100%;
  position: relative;
}
.close-btn img {
  height: 20px;
  position: absolute;
  top: 5px;
  right: 5px;
}
.close-btn img:hover {
  filter:drop-shadow(0 0 5px red);
}
.top-half {
  display: flex;
  height: fit-content;
  align-items: center;
  justify-content: space-between;
  margin-top: 25px;
}
.card-left {
  display: flex;
}
.card-right {
  color: white;
  font-size: 30px;
}

.temp {
  font-size: 38px;
  color: white;
  display: flex;
  align-items: center;
}
.icon img {
  display: flex;
  align-items: center;
  height: 55px;
}

.card-mid {
  height: 30%;
  width: 100%;
  display: flex;
  align-items: center;
}
.bottom-half {
  height: 37%;
  display: flex;

  align-items: center;
  color: rgb(255, 255, 255);
}
